@charset "UTF-8";


#modal, #report_modal, #meaning_modal, #follow_modal{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
	height: 100%;
}
.Yx5HN {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.RnEpo {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0,0,0,.65);
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    position: fixed;
    right: 0;
    -webkit-tap-highlight-color: #000;
    top: 0;
    z-index: 100;
}
.fPMEg {
    width: 400px;
}
.pbNvD {
    -webkit-animation: IGCoreModalShow .1s ease-out;
    animation: IGCoreModalShow .1s ease-out;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px;
    max-height: calc(100% - 40px);
	margin: auto;
    margin-top: 260px;
    height: 300px;
    width: 540px;
}
._1XyCr {
    background-color: #fff;
    background-color: rgba(var(--f23,255,255,255),1);
    border-radius: 12px;
    -webkit-mask-image: -webkit-radial-gradient(#fff,#000);
    max-height: 100%;
    overflow: hidden;
}
.piCib {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.modal_button_body {
    margin-top: 16px;
    height: 160px;
}
.modal_button_body:only-child .modal_button:first-child {
    border-top: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.modal_button {
    background-color: transparent;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #dbdbdb;
    cursor: pointer;
    line-height: 1.5;
    margin: 0;
    min-height: 48px;
    padding: 4px 8px;    
	text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}