<<<<<<< HEAD
@FONT-FACE {
   font-family: 'monhwa';
   src: url("../font/monhwa.ttf");
}
* {
   font-family: monhwa;
}
.header_title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 35px;
}
.navigation_list {
    text-align: center;
}
.navigation_item.on {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ff80ab;
    color: #ffffff;
}

.navigation_item {
    vertical-align: middle;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ebebeb;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-size: 16px;
    color: #333333;
=======
@FONT-FACE {
   font-family: 'monhwa';
   src: url("../font/monhwa.ttf");
}
* {
   font-family: monhwa;
}
.header_title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 35px;
}
.navigation_list {
    text-align: center;
}
.navigation_item.on {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ff80ab;
    color: #ffffff;
}

.navigation_item {
    vertical-align: middle;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ebebeb;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-size: 16px;
    color: #333333;
>>>>>>> branch 'master' of https://github.com/Advensod-KBJ/TeamProject3
}