@charset "UTF-8";

.follow_body {
	padding-bottom: 60px;
    padding-top: 60px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}
.follow_title {
	padding-left: 12px;
    padding-right: 12px;
    margin-top: 16px;
    margin-bottom: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.title {
	display: block;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: -6px 0 -6px;
}
.follows_body{
	    padding-bottom: 8px;
    padding-top: 8px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: white;
}
.follow_list {
	height: auto;
    overflow: hidden auto;
}
.follow_lists {
	
	flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;
}
.follow_list_user {
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.follow_list_img {
	margin-right: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.img_box {
	display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.follow_list_name {
	-webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
}
.user_id {
	    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: -3px 0 -4px;
}
.user_name {
	 margin-top: 8px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
        display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user_info {
	margin-top: 8px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: -2px 0 -3px;
}
.follow_list_button {
	font-size: 17px;
    margin-left: 8px;
    margin-right: 8px;
    -ms-flex: 0 0 auto;
    border: 1px solid transparent;
    background-color: #0095f6;
    border-radius: 11px;
    color: #fff;
    position: relative;
    font-weight: 600;
    cursor: pointer;
}


.follow_list_button:active { 
	box-shadow: 2px 2px 1px 1px rgb(0,0,0,0.5); 
	position: relative; 
	font-size: 17px;
    margin-left: 8px;
    margin-right: 8px;
    -ms-flex: 0 0 auto;
    border: 1px solid transparent;
    background-color: #0095f6;
    border-radius: 11px;
    color: #fff;
    position: relative;
    font-weight: 600;
}

