@charset "UTF-8";
.footer {
	background-color: #28a745;
	position: inherit;
}
.fotter-continer {
	padding: 40px 0px;
}
.fotter-text {
	color: white;
}

.madeby {
	float: right;
}

h3 {
	margin-bottom: 1em;
}

.usetext {
	float: left;
	margin: 0;
}

.usetext li {
	float: left;
	padding: 0px 20px 0 20px;
	letter-spacing: 0px;
	font-size: 0.9em;
	line-height: 41px;
	font-style: none;
	list-style: none;
}

#use {
	margin: 0px auto;
	width: 100%;
	height: 41px;
}

#use a {
	text-decoration: none;
	color: white;
}
footer .info_list {
    overflow: hidden;
}
ul, ol, li {
    list-style: none;
}
footer .info_list li {
    float: left;
    width: 20%;
}
footer .info_list li dl dt {
    color: #696b70;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
footer .info_list li dl dd {
    color: #c9cacb;
    font-size: 15px;
    line-height: 24px;
}
footer .info_list li dl dd {
    color: #c9cacb;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}
#fnb {
    width: 100%;
    height: 90px;
}
#fnb li {
    float: left;
    width: 19.3%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}
#fnb li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 90px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
a:link {
    color: #666;
    text-decoration: none;

}
@media screen and (max-width: 768px) {
   .info {
      display: none;
   }
   hr {
   	display: none;
   }
}
