@charset "UTF-8";

@FONT-FACE {
	font-family: 'monhwa';
	src: url("../include/monhwa.ttf");
}

* {
	font-family: monhwa;
}

.html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.searchbox {
	width: 190px;
}

.navbar-expand-lg .navbar-nav {
	flex-direction: unset;
	right: 0;
	position: absolute;
	display: flex;
}

.nav-item {
	margin-left: 10px;
}

.img-logo {
	vertical-align: text-bottom;
	margin-bottom: 30px;
}

.header {
	background-color: white;
	box-shadow: 0 4px 4px -4px black;
}

@media screen and (max-width: 768px) {
	.header {
		height: 11em;
	}
	.header-search-button {
		display: none;
	}
}
.form-control {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.header-search-button {
    border: none;
    background-color: transparent;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    left: -30px;
}
.fixed-search-icon {
	margin-top: 1px;
	margin: -6px;
	width: 22px;
    height: 24px;
}
.jLuN9 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-color: #fafafa;
    background-color: rgba(var(--b3f,250,250,250),1);
    padding: 0;
}
.container-fluid {
display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
	
}
.NXc7H, .XajnB {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    z-index: 10;
}
#react-root, article,div,  footer, main, nav, section {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}
.R4HNP {
    -webkit-flex-basis: 54px;
    -ms-flex-preferred-size: 54px;
    flex-basis: 54px;
}
._lz6s {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    background-color: rgba(var(--d87,255,255,255),1);
    border-bottom: 1px solid #dbdbdb;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    height: 54px;
    position: fixed;
    top: 0;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 3;
}
.MWDvN {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 54px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 975px;
    padding: 0 20px;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 10;
}
.oJZym {
    -webkit-box-flex: 1;
    -webkit-flex: 1 9999 0%;
    -ms-flex: 1 9999 0%;
    flex: 1 9999 0%;
    min-width: 40px;
}
a, a:visited {
    color: #00376b;
    color: rgba(var(--fe0,0,55,107),1);
    text-decoration: none;
}
._4EzTm {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.eGOV_ {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.ybXk5 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.rBNOH {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.Igw0E {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.qF0y9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.cq2ai {
    margin-top: 7px;
    -webkit-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
}
.s4Iyt {
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
._0aCwM {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    height: 28px;    
    min-width: 125px;
    width: 215px;
}
.x3qfX:placeholder-shown {
    font-size: 16px;
}
.x3qfX {
    -webkit-appearance: none;
    font-size: 14px;
    background: #fafafa;
    background: rgba(var(--b3f,250,250,250),1);
}
.XTCLo {
    border: solid 1px #dbdbdb;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    outline: 0;
    padding: 3px 12px;
    z-index: 2;
}

.XTCLo, .pbgfb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.pbgfb {
    background: #fafafa;
    background: rgba(var(--b3f,250,250,250),1);
    border: solid 1px #dbdbdb;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    cursor: text;
    font-size: 14px;
    font-weight: 300;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    padding: 0 12px;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 2;
}
.XTCLo, .pbgfb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.eyXLr {
    display: inline;
}
._6RZXI {
    display: inline-block;
    margin-right: 6px;
    vertical-align: baseline;
}
.coreSpriteSearchIcon, .coreSpriteSensitivityIcon {
    background-repeat: no-repeat;
    background-position: -399px -321px;
    height: 10px;
    width: 10px;
}
.TqC_a {
    display: inline-block;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}
.yPP5B {
    top: 12px;
    width: 375px;
}
.ctQZg {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
._47KiJ, .ZcHy5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 24px;
    white-space: nowrap;
}
a, a:visited {
    color: #00376b;
    color: rgba(var(--fe0,0,55,107),1);
    text-decoration: none;
}
._8-yf5 {
    display: block;
    position: relative;
}
svg[Attributes Style] {
    color: rgb(38, 38, 38);
    fill: rgb(38, 38, 38);
    height: 22;
    width: 22;
}
:not(svg) {
    transform-origin: 0px 0px;
}
svg:not(:root) {
    overflow: hidden;
}
._47KiJ, .ZcHy5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 24px;
    white-space: nowrap;
}
.XrOey:not(:first-child) {
    margin-left: 22px;
}
._8-yf5 {
    display: block;
    position: relative;
}
svg[Attributes Style] {
    color: rgb(38, 38, 38);
    fill: rgb(38, 38, 38);
    height: 22;
    width: 22;
}