/* general */
ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}
footer p {
    margin-top: 18px;
    font-size: 11px;
    color: #c7c7c7;
    line-height: 18px;
}
.pic {
    border-radius: 100%;
}
span.userID {
    margin-right: 5px;
}
span.sub-span {
    font-size: 12px;
    color: #8e8e8e;
}
span.point-span {
    font-weight: 550;
    font-size: 14px;
    color: #262626;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* nav */
nav {
    width: 100%;
    height: 54px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
}
img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.nav-container {
    max-width: 1000px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
nav div.nav-1, nav div.nav-2 {
    width: 370px;
    display: flex;
    align-items: center;
}
div.nav-2 {
    justify-content: flex-end;
}
nav img {
    height: 22px;
    border-radius: 100%;
}
.vl {
    height: 22px;
    margin: 0 10px;
    border-left: 1px solid #262626;
}
.logo_instagram_txt {
    height: 30px;
}
.nav-2 img {
    margin-left: 20px;
}
.input-search {
    width: 200px;
    height: 12px;
    padding: 7px;
    box-sizing: content-box;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACI0lEQVRIie2Uv2sTcRjGP+/lKqZNLUVrp2wq/mhBJxddWnF0SOsVEhpwKEUCgv9A5zgLocGtUq+cQZCMWg/r5FAQWkFXaatEEfxRhFzu+zqkwZL2rqeufZY7eO95Pt/vA/fCoQ6QRA08z0sHoc4IMqlwDugHNgVZVqPVQsFZ/WeA69YuG8xjIBvhU5DKz+9f787OzgZxACsi3AeyCq8Vcq2mfWJwIHNU1BpRpQz8Ai31Hxt8pKqRLey5QbsW3gNZFa0esaTkOE7YbVpc9C5i8Rw4LiqlfP5mJdENglBnOiePCgcoFJw3onoLQEXnfN+3EwEEmdx5vRcV3lE+P1VHWAOGtxqNq4kACucBwqa9Ehf+xyArO88LiQBAH4Ax37YT5av+ABDIJAVsAaTS6VNJACKcaYPYTAYQfQFgGatwULjneUPAdcCEKV4mA4QyD6gId1y3dinKpKoShNynXU296DgfEgHav79UgF6DefbQ9W7sd/LFpdoSMAWgYspR4bDPqqhWqz2ZgUEXZWLnizVUVkTMNiqntV1L3y7L2zCwx4rFXCMRANoVuG7ttorOAcNdYwPUVUzZUuuBwkgcJHaP+L5vb3z6ciWljKqYXsTaCC191el8YeHJSbuntawwIrDeCuzxbkgsIIk8zxsKDMsoo8A700qNTU9PfOzM92zTv5XjOJ/Dpn1NYB04a9nh093z/wYAFIu5RiuwxxFWgdgddqg9+g0TJuLzCuoJngAAAABJRU5ErkJggg==");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 38% center;
    text-indent: 10%;
    font-size: 14px;
}
.input-search:focus {
    background-position: 4% center;
    outline: none;
    }
.input-search::placeholder, .input-search:not(:focus) {
    text-align: center;
    vertical-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #8e8e8e;
}
.input-search:focus::placeholder {
    text-align: start;
}
.input-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center left;
    background-image: url('../img/cancel.png');
  }
/* main */
main {
    width: 960px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 40px;
}
.main-right {
    width: 310px;
    display: inline-block;
    position: fixed;
    top: 94px;
}
.feeds {
    width: 614px;
    margin-right: 34px;
    display: inline-block;
}
article, .section-story, .section-recommend {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
article {
    margin-bottom: 60px;
}
.section-story, .section-recommend {
    width: 310px;
    padding: 12px 8px;
    overflow-y: hidden;
}
.section-story {
    height: 103px;
    margin-bottom: 20px;
    overflow: hidden;
    width: auto;
}
.section-recommend {
}
/* article */
header {
    height: 54px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: row;
    align-items: center;
}
.profile-of-article {
    display: flex;   
    flex-direction: row;
}
.img-profile {
    width: 55px;
    height: 55px;
    border: 1px solid #fafafa;
    border-radius: 100%;
}
.main-image img {
    width: 612px;
}
.main-id {
    margin-left: 14px;
}
.icon-more {
    justify-self: end;
}
.icons-react {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -webkit-flex-direction: row;
}
.icon-react {
    width: 31px;
    height: 31px;
}
.icons-left {
    display: flex;
    align-items: center;
    -webkit-flex-direction: row;
}
.icons-left .icon-react {
    margin-right: 12px;
}
/* article text data */
.reaction {
    padding: 0 16px;
}
.liked-people {
    display: flex;
    align-items: flex-start;
    margin: 2px 0 8px 0;
    -webkit-flex-direction: row;
}
.liked-people img {
    display: inline-block;
    margin-right: 4px;
    width: 30px;
    height: 30px;
    border: 1px solid #fafafa;
}
.liked-people p {
    display: inline-block;
    color: #262626;
    font-size: 14px;
}
.description {
    display: flex;
    align-items: center;
    display: flex;
    height: 18 px;
    margin: 2 px 0 8 px 0;
    -webkit-flex-direction: row;
}
ul.comments {
    margin-top: 5px;
}
ul.comments li {
    height: 21px;
    display: flex;
    justify-content: space-between;
    color: #262626;
    font-size: 14px;
}
.comments li div {
    display: flex;
    align-items: center;
}
ul.comments li:hover .comment-more {
    display: inline-block;
}
img.comment-more {
    box-sizing: content-box;
    width: 26px;
    padding: 10px;
    display: none;
    opacity: 50%;
    cursor: pointer;
}
img.comment-heart {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}
img.comment-heart-liked {
    width: 12px;
    height: 12px;
    display: none;
    cursor: pointer;
}
div.time-log {
    margin-bottom: 8px;
}
div.time-log span {
    height: 18px;
    font-size: 12px;
    color: #8e8e8e;
}
.hl {
    border-top: 1px solid #DBDBDB;
    width: 612px;
}
/* comment input */
.input-comment {
    font-size: 14px;
    width: 560px;
    padding: 28px 16px;
    border-style: none;
    box-sizing: border-box;
    color: #262626;
    height: 50px;
}
.input-comment:focus {
	outline: none;
}
.input-comment::placeholder {
    color: #8e8e8e;
}
button.submit-comment {
    color: #0095f6;
    background-color: #fff;
    border-style: none;
    height: 40px;
    width: 40px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
}
.submit-comment:disabled {
    color: #B9DFFC;
}
button.submit-comment:focus {
    outline: none;
}
/* main-right */
.myProfile {
    height: 56px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.myProfile img {
    width: 56px;
    height: 56px;
}
.myProfile div {
    display: inline-block;
    margin-left: 14px;
}
.myProfile div span {
    display: block;
}
.myProfile div span.userID {
    margin-bottom: 4px;
}
/* story & recommendation */
.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-title {
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}
.find-more {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}
.story-list {
	flex-direction: row;
    display: flex;
}
ul.story-list img.story {
    box-sizing: content-box;
    border: 2px solid #fff;
    flex-direction: row;
    display: flex;
}
div.gradient-wrap {
    width: 63px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}
.profile-text {
    width: 70px;
    text-align: center;
}
.profile-text span {
    display: block;
}
.profile-text span.userID {
    margin-bottom: 2px;
}
.recommend-list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}
.btn-follow {
    padding-top: 7px;
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
}
.recommend-friend-profile {
    display: flex;
    flex-direction: row;
}
article, aside, figcaption, figure, footer, hgroup, main, nav, section {
    display: block;
}
.profile-text1 {
	width: 200px;
}
.img-profile1 {
    width: 36px;
    height: 36px;
    border: 1px solid #fafafa;
    border-radius: 100%;
}
.modal {
	background-color: rgba(0,0,0,.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.modal_body {
	bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
}
.modal_body2 {
    padding: 10px;
    height: 100%;
    width: 100%;
}
.modal_body3 {
    padding: 10px;
    height: 100%;
    width: 100%;
}
.modal_main {
    display: flex;
    height: 100%;
    padding: 24px 64px;
    width: 100%;
    z-index: 12;
    margin-top: 60px;
}
.modal_main2 {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
}
.modal_main3 {
	width: 100%;
    max-height: inherit;
    padding: 0;
}
.modal_main4 {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100%;
}
.modal_left1 {
   	max-width: 50%;
   	min-width: 49.9%;
    height: 100%;
    display: flex;
}
.modal_right1 {
    max-width: 49.5%;
    min-width: 49.2%;
    overflow: hidden;
}
.slick-track {
	width: 100%;
	height: 100%;
}
.xbotton {
	display: block;
    position: relative;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    height: 24;
    width: 24;
}
.modal_cansle {
	cursor: pointer;
	border: 0;
	top: -17px;
    left: 83px;
    background: 0 0;
}



.JyscU.ePUX4 .EtaWk {
    padding: 0;
}

.L_LMM.ePUX4 .EtaWk {
    margin: 0 0 auto;
    padding: 0 16px;
}
.JyscU .EtaWk {
    margin: 0 -24px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    overflow-x: hidden;
}
.EtaWk {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin-bottom: 4px;
    min-height: 0;
    overflow: auto;
}
.XQXOT {
    height: 290px;
    left: 0;
    padding: 16px;
    scrollbar-width: none;
    overflow: auto;
}
.X7jCj {
    width: 100%;
}
.C7I1f {
    flex-direction: row;
    width: calc(100% - 28px);
}

.RR-M- {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.TKzGu {
    margin: 0 18px 0 0;
}
.qNELH {
    cursor: pointer;
}
._2dbep {
    background-color: #fafafa;
    background-color: rgba(var(--b3f,250,250,250),1);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}
.C4VMK {
   display: inline-block;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin-bottom: 25px;
}
.MqpiF {
    display: inline;
}
h3,h4 {
	margin: auto;
}
input[type=date], input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], textarea {
    -webkit-appearance: none;
    padding: 8px 3px 8px 9px;
    font-size: 14px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    border: 1px solid #e8ebed;
}
.fa-heart-o:before {
    content: "\f08a";
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
}
.fa-heart:before {
    content: "\f004";
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.fa-heart:active { 
	position: relative; 
    border: 1px solid transparent;
    border-radius: 30px;
    position: relative;
    font-weight: 600;
}


.fa-heart-o:active { 
	position: relative; 
	font-size: 17px;
    border: 1px solid transparent;
    border-radius: 30px;
    position: relative;
    font-weight: 600;
}
@media screen and (max-width: 980px) {
   main {
      width: 100%;
   }
   .feeds {
    width: 80%;
    margin-left: 60px;
   }
   .main-right {
   display: none;
   }
   .hl {
    border-top: 1px solid #DBDBDB;
    width: 100%;
	}
	.input-comment {
    width: 89%;
	}
}
.hidden {
	position: absolute;
    left: 5px;
    bottom: 12px;
    right: 26px;
    width: 27px;
    height: 26px;
    cursor: pointer;
    opacity: 0;
}