@charset "UTF-8";
.main_area {
	display: flex;
    flex-direction: row;
}
.content {
	width: 100%;
}

li {
	list-style: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big,
	blockquote, body, canvas, caption, center, cite, code, dd, del, details,
	dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
	header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend,
	li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp,
	section, select, small, span, strike, strong, sub, summary, sup, table,
	tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: 400;
	color: #333;
}

.content .main_area {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 150px;
}

.left_main {
	width: 270px;
	height: 77vh;
	border: 2px solid #ebebeb;
	background-color: #fff;
	margin: 20px -2px 0 0;
	float: left;
	position: relative;
}

.left_main .left_main_header {
	display: none;
}

.left_main ul {
	height: 77vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.left_main .card_box, .left_main ul li {
	position: relative;
}

.left_main ul li {
	    margin: 5px 9px;
    padding: 12px 0;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    height: 40px;
}

.left_main ul li .profile {
	float: left;
}

.left_main ul li .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #ebebeb;
}

.left_main ul li .info {
	float: left;
	margin-left: 10px;
	position: relative;
	width: 165px;
	height: 40px;
}

.left_main ul li .info .description, .left_main ul li .info .nick {
	position: absolute;
	left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.left_main ul li .info .nick {
	top: 0;
	font-size: 14px;
	font-weight: 700;
	color: #000;
	width: 90px;
}

.left_main ul li .info .description {
	bottom: 0;
	font-size: 13px;
	color: #4e4e4c;
	width: 123px;
	
}

.left_main ul li .info .description, .left_main ul li .info .nick {
	position: inherit;
	left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: visible;
}

.left_main ul li .info .time_ago {
	position: absolute;
	top: 0;
	right: 11px;
	font-size: 11px;
	color: #b4b4b4;
}

.left_main ul li:after {
	display: block;
	clear: both;
	content: "";
}

.left_main .card_box, .left_main ul li {
	position: relative;
}

a {
	text-decoration: none;
}

.declaration a {
	text-decoration: none;
	color: #fff;
}

.declaration a:hover {
	color: #fff;
}

.left_main .card_box, .left_main ul li {
	position: relative;
}

.left_main ul li {
	cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    height: 60px;
    display: flex;
}

.right_main {
	width: 686px;
	height: 77vh;
	border: 2px solid #ebebeb;
	background-color: #fff;
	float: right;
	margin: 20px 0 165px;
}

.right_main .chat_header {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 20px;
	height: 80px;
}

.right_main .chat_header .image_box {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	cursor: pointer;
}

.right_main .chat_header .image_box img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.right_main .chat_header .info {
	float: left;
	display: table;
	cursor: pointer;
}

.right_main .chat_header .info div {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.right_main .chat_header .info span:first-child {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	display: block;
}

.right_main .chat_header .info span:nth-child(2) {
	color: #4e4e4c;
	font-size: 14px;
	display: block;
	margin-top: 4px;
}

.right_main .chat_header .declaration {
	float: right;
	display: table;
}

.right_main .chat_header .declaration div {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.right_main .chat_header .declaration img {
	width: 18px;
	cursor: pointer;
}

.chat_close, .mobile_banner, .mobile_banner_image {
	display: none;
}

.right_main .chat_header:after {
	display: block;
	clear: both;
	content: "";
}

.chat_description {
	overflow: auto;
	height: calc(77vh - 151px);
	border-bottom: 1px solid #ebebeb;
}

.chat_description .chat_timeago {
	margin-top: 20px;
}

.chat_description .chat_timeago_box {
	width: 106px;
	height: 20px;
	border-radius: 9.8px;
	background-color: #f5f5f5;
	text-align: center;
	margin: 0 auto;
}

.chat_description .chat_timeago_box .chat_timeago_text {
	font-size: 11px;
	color: #687383;
}

.chat_description .chat_type2 {
	overflow: hidden;
	margin-top: 20px;
}

.chat_description .chat_type2_image_box {
	float: left;
	margin: 0 18px 0 11px;
}

.chat_description .chat_type2_image_box .chat_type2_image {
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

.chat_description .chat_type2_message {
	position: relative;
	float: left;
	text-align: left;
	width: 222px;
	background-color: #ebebeb;
	border: 1px solid #ebebeb;
}

.chat_description .chat_type2_message_image {
	width: 222px;
	display: block;
}

.chat_description .chat_type2_message_main {
	width: 222px;
	background-color: #fff;
	margin: 0 auto;
	border-top: 1px solid #ebebeb;
}

.chat_description .chat_type2_message_title {
	width: 180px;
	font-size: 14px;
	padding: 10px 27px 10px 11px;
}

.chat_description .chat_timeago {
	margin-top: 20px;
}

.chat_description .chat_timeago_box {
	width: 106px;
	height: 20px;
	border-radius: 9.8px;
	background-color: #f5f5f5;
	text-align: center;
	margin: 0 auto;
}

.content .main_area:after {
	display: block;
	clear: both;
	content: "";
}

.chat_footer {
	height: 40px;
	padding: 15px 15px 15px 21px;
}

.chat_footer .chat_input {
	width: 568px;
	overflow: auto;
	height: 40px;
	outline: 0;
	line-height: 21px;
	color: #000;
	font-size: 15px;
	float: left;
}

.chat_input[contenteditable=true] {
	position: relative;
}

.chat_input[contenteditable=true]:empty:after {
	content: attr(placeholder);
	color: #b4b4b4;
	cursor: text;
	font-size: 15px;
	display: block;
}

.chat_footer button {
	color: #fff;
	background-color: #198754;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 700;
	padding: 10px 0;
	text-align: center;
	width: 78px;
}

button {
	border: none;
	background: none;
	outline: 0;
	padding: 0;
}

.right_div {
	margin-bottom: 1em;
	text-align: right;
	overflow: hidden;
    border-radius: 8px;
    width: 100%;
    top: 0;
    bottom: 49px;
    left: 0;
    right: 0;
}

.left_div {
	margin-bottom: 1em;
	overflow: hidden;
    border-radius: 8px;
    width: 100%;
    top: 0;
    bottom: 49px;
    left: 0;
    right: 0;
}

.mail_id_content {
	margin-top: 0.5em;
    margin-left: 0.5em;
	font-size: 0.9em;
}

.mail_left_date_content {
	font-size: -1.5em;
	position: relative;
    font-size: 9px;
    color: #b4b4b4;
    bottom: -24px;
    right: -8px;
}
.mail_right_date_content {
	font-size: -1.5em;
	position: relative;
    font-size: 9px;
    color: #b4b4b4;
    bottom: -24px;
    left: -8px;
}
.size_limite {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 24px;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.chat_div {
	margin-top: 12px;
}
.mail_right_content {
	background-color: #28a745;
    margin-right: 21px;
    word-break: break-all;
    position: relative;
    float: right;
    text-align: left;
    max-width: 200px;
    padding: 9px 12px;
    border-radius: 10px 0 10px 10px;
    font-size: 13.5px;
    color: #fff;
}
.mail_left_content {
	background-color: #ebebeb;
    margin-left: 21px;
    word-break: break-all;
    position: relative;
    float: left;
    text-align: right;
    max-width: 200px;
    padding: 9px 12px;
    border-radius: 0 10px 10px 10px;
    font-size: 13.5px;
    color: #000;
    margin-top: 10px;
}
.profile_div {
	width: 200px;
	height: 35px;
	display: flex;
    flex-direction: row;
}
.profile_img {
	margin-left: 4px;
	width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
	
}
.mail_left_content:after {
content: "";
    position: absolute;
    border-color: transparent transparent #ebebeb!important;
    border: 10px solid #000;
    transform-origin: 0 0;
    left: 0px;
    top: -15px;
    -webkit-transform: rotate( -315deg );
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
}
.mail_right_content:after {
content: "";
    position: absolute;
    border-color: transparent transparent #28a745!important;
    border: 10px solid #000;
    transform-origin: 0 0;
    right: 0;
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@charset "UTF-8";

.sender-wrap {
	border-bottom: 1px solid lightgray;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sender-wrap p {
	font-size: 0.8em;
}

.sender-wrap span {
	margin-left: 10px;
	font-size: 0.7em;
}

.getter-wrap span {
	margin-right: 10px;
	font-size: 0.7em;
}

.getter-wrap {
	border-bottom: 1px solid lightgray;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-align: right;
}

.mail-chat {
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 2em;
	margin-bottom: 1em;
}
.btn-success-cus{
	width: 50%;
}
.btn-danger-cus {
	width: 50%;
}
.S-mcP {
    background-color: #fff;
    background-color: rgba(var(--d87,255,255,255),1);
    border-bottom: 1px solid zdbdbdb;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding: 0px 11px;
    width: 100%;
    z-index: 2;
}
.AjEzM {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: inherit;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.xkdid {
    margin-right: 8px;
}
._2NzhO {
    -webkit-flex-basis: 32px;
    -ms-flex-preferred-size: 32px;
    flex-basis: 23px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.m7ETg {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._4EzTm {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.eGOV_ {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.yWX7d, .yWX7d:visited, a.yWX7d, a.yWX7d:visited {
    border: 0;
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
    display: inline;
    padding: 0;
    position: relative;
}
._4EzTm {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.fDxYl {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.KV-D4 {
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
}
.qyrsm {
    font-weight: 600;
}
.T0kll {
    margin: 0;
}
.vy6Bb {
    font-size: 16px;
    line-height: 24px;
    margin: -6px 0 -6px;
}
.HVWg4 {
    padding-bottom: 8px;
    padding-top: 8px;
}
.lC6p0 {
    padding-left: 8px;
    padding-right: 8px;
}
