@charset "UTF-8";
.main_area {
	display: flex;
    flex-direction: row;
}
.content {
	width: 100%;
}

li {
	list-style: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big,
	blockquote, body, canvas, caption, center, cite, code, dd, del, details,
	dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
	header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend,
	li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp,
	section, select, small, span, strike, strong, sub, summary, sup, table,
	tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: 400;
	color: #333;
}

.content .main_area {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 150px;
}

.left_main {
	width: 270px;
	height: 77vh;
	border: 2px solid #ebebeb;
	background-color: #fff;
	margin: 20px -2px 0 0;
	float: left;
	position: relative;
}

.left_main ul {
	overflow-y: auto;
	overflow-x: hidden;
}

.left_main .card_box, .left_main ul li {
	position: relative;
}

.left_main ul li {
	    margin: 5px 9px;
    padding: 12px 0;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    height: 40px;
}

.left_main ul li .profile {
	float: left;
}

.left_main ul li .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #ebebeb;
}

.left_main ul li .info {
	float: left;
	margin-left: 10px;
	position: relative;
	width: 165px;
	height: 40px;
}

.left_main ul li .info .description, .left_main ul li .info .nick {
	position: absolute;
	left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.left_main ul li .info .nick {
	top: 0;
	font-size: 14px;
	font-weight: 700;
	color: #000;
	width: 90px;
}

.left_main ul li .info .description {
	bottom: 0;
	font-size: 13px;
	color: #4e4e4c;
	width: 123px;
	
}

.left_main ul li .info .description, .left_main ul li .info .nick {
	position: inherit;
	left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: visible;
}

.left_main ul li .info .time_ago {
	position: absolute;
	top: 0;
	right: 11px;
	font-size: 11px;
	color: #b4b4b4;
}

.left_main ul li:after {
	display: block;
	clear: both;
	content: "";
}

.left_main .card_box, .left_main ul li {
	position: relative;
}

a {
	text-decoration: none;
}

.declaration a {
	text-decoration: none;
	color: #fff;
}

.declaration a:hover {
	color: #fff;
}

.left_main .card_box, .left_main ul li {
	position: relative;
}

.left_main ul li {
	cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    height: 60px;
    display: flex;
}

.right_main {
	width: 686px;
	height: 77vh;
	border: 2px solid #ebebeb;
	background-color: #fff;
	float: right;
	margin: 20px 0 165px;
}

.right_main .chat_header {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 20px;
	height: 80px;
	display: flex;
    flex-direction: row;
}

.right_main .chat_header .image_box {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	cursor: pointer;
}

.right_main .chat_header .image_box img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.right_main .chat_header .info {
	float: left;
	display: table;
	cursor: pointer;
}

.right_main .chat_header .info div {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.right_main .chat_header .info span:first-child {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	display: block;
}

.right_main .chat_header .info span:nth-child(2) {
	color: #4e4e4c;
	font-size: 14px;
	display: block;
	margin-top: 4px;
}

.right_main .chat_header .declaration {
	float: right;
	display: table;
}

.right_main .chat_header .declaration div {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.right_main .chat_header .declaration img {
	width: 18px;
	cursor: pointer;
}

.chat_close, .mobile_banner, .mobile_banner_image {
	display: none;
}

.right_main .chat_header:after {
	display: block;
	clear: both;
	content: "";
}

.chat_description {
	overflow: auto;
	height:  415px;
	border-bottom: 1px solid #ebebeb;
	margin-top: 18px;
	
}

.content .main_area:after {
	display: block;
	clear: both;
	content: "";
}

.chat_footer {
	height: 70px;
	padding: 15px 15px 15px 21px;
	display: flex;
    flex-flow: row;
}

.chat_footer .chat_input {
	width: 560px;
	overflow: auto;
	height: 40px;
	outline: 0;
	line-height: 21px;
	color: #000;
	font-size: 15px;
	float: left;
}

.chat_input[contenteditable=true] {
	position: relative;
}

.chat_input[contenteditable=true]:empty:after {
	content: attr(placeholder);
	color: #b4b4b4;
	cursor: text;
	font-size: 15px;
	display: block;
}

.chat_footer button {
	color: #fff;
	background-color: #ff80ab;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 700;
	padding: 10px 0;
	text-align: center;
	width: 78px;
}

button {
	border: none;
	background: none;
	outline: 0;
	padding: 0;
}

.right_div {
	margin-bottom: 1em;
    text-align: left;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    top: 0;
    bottom: 49px;
    left: 0;
    right: 0;
    float: right;
    flex-direction: row-reverse;
}
.left_div {
	margin-bottom: 1em;
	overflow: hidden;
    border-radius: 8px;
    width: 100%;
    top: 0;
    bottom: 49px;
    left: 0;
    right: 0;
}

.mail_id_content {
	margin-top: 0.5em;
    margin-left: 0.5em;
	font-size: 0.9em;
}

.mail_left_date_content {
	font-size: -1.5em;
	position: relative;
    font-size: 9px;
    color: #b4b4b4;
    bottom: -24px;
    right: -8px;
}
.mail_right_date_content {
	font-size: -1.5em;
	position: relative;
    font-size: 9px;
    color: #b4b4b4;
    bottom: -24px;
    left: -8px;
}
.size_limite {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 24px;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.chat_div {
	margin-top: 12px;
}
.mail_right_content {
	background-color: #ebebeb;
    margin-right: 21px;
    float: right;
    width: max-content;
    padding: 9px 12px;
    border-radius: 50px;
    font-size: 13.5px;
    color: #000;
    display: flex;
    position: relative;
    text-align: left;
}
.mail_left_content {
	background-color: #fff;
	border: 1px solid #ebebeb;
    margin-left: 21px;
    float: left;
    text-align: center;
    width: max-content;
    padding: 9px 12px;
    border-radius: 50px;
    font-size: 13.5px;
    color: #000;
    margin-top: 10px;
    display: flex;
}
.profile_div {
	width: 200px;
	height: 35px;
	display: flex;
    flex-direction: row;
}
.profile_img {
	margin-left: 4px;
	width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
}
.mail-chat {
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 2em;
	margin-bottom: 1em;
}
.S-mcP {
    background-color: #fff;
    background-color: rgba(var(--d87,255,255,255),1);
    border-bottom: 1px solid zdbdbdb;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding: 0px 11px;
    width: 100%;
    z-index: 2;
}
.AjEzM {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: inherit;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.input-group{
	display: flex;
    flex-direction: row;
}
.col {
    overflow: auto;
    height: calc(77vh - 151px);
    border-bottom: 1px solid #ebebeb;
}
