main {
    width: 960px;
    margin: 0 auto;
}
svg {
	cursor: pointer;
}
.h2 {
	font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    margin: -5px 0 -6px;
    margin-right: 6px;
 }
nav img {
    height: 22px;
    border-radius: 100%;
}

.profile_boay {
	margin-top: 25px;
}
.profile{
	flex-direction: row;
	display: flex;
	height: 245px;
	border-bottom: 1px solid #dbdbdb;
}
.profile_left {
	display: flex;
    flex-grow: 1;
    padding: 16px;
}
.profile_img{
	
}
.profile_imgbox{
	
}
.profile_imgbox1{
	
}
.filebox{
	align-items: center;
}
.profile_right{
	flex-grow: 2;
    display: flex;
    padding: 16px;
}
.profile_name{
	display: flex;
    flex-direction: row;
    align-items: center;
}
.profile_update{
	display: flow-root;
}
.profile_update_button{
	background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    border-radius: 4px;
    position: relative;
    padding: 5px;
    font-weight: 600;
    margin-left: 10px;
}

.profile_profile_info{
	
}
.profile_follow{

}
.profile_list{
	padding: 12px 0;
 	flex-direction: row;
 	display: flex;
 	list-style: none;
}
.profile_follow_{
	font-size: 14px;
    text-align: center;
    width: 33.3%;
}
.profile_board_imgs{
	display: flex;
	flex-direction: row;
	height: 320px;
    display: block;
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    align-items: center;
}
.board_imgs{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.board_img{
	padding: 14px;
    border-radius: 20px;
}
.profile_info {
	height: 175px;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    
}
.profile_info1 {
	height: 175px;
    display: flex;
    padding: 10px;
    
}
.span {
	text-align: center;
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
}
.sub_span {
	display: block;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
}
.img {
	width: 285px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    height: 285px;
}
.profile_board {
	align-items: center;
	    display: flex;
}
.profile_board_body {
	display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin-top: 20px;
}

#modal, #report_modal, #meaning_modal, #follow_modal{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
	height: 100%;
	display: none;
}
.Yx5HN {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.RnEpo {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0,0,0,.65);
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    position: fixed;
    right: 0;
    -webkit-tap-highlight-color: #000;
    top: 0;
    z-index: 100;
}
.fPMEg {
    width: 400px;
}
.pbNvD {
    -webkit-animation: IGCoreModalShow .1s ease-out;
    animation: IGCoreModalShow .1s ease-out;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px;
    max-height: calc(100% - 40px);
	margin: auto;
    margin-top: 260px;
}
._1XyCr {
    background-color: #fff;
    background-color: rgba(var(--f23,255,255,255),1);
    border-radius: 12px;
    -webkit-mask-image: -webkit-radial-gradient(#fff,#000);
    max-height: 100%;
    overflow: hidden;
}
.piCib {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.modal_button_body:only-child {
    margin-top: 0;
}
.modal_button_body {
    margin-top: 16px;
}
.modal_button_body:only-child .modal_button:first-child {
    border-top: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.modal_button {
    background-color: transparent;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #dbdbdb;
    cursor: pointer;
    line-height: 1.5;
    margin: 0;
    min-height: 48px;
    padding: 4px 8px;    
	text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
