<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" class="header fixed-top">
<footer class="container-fluid navbar-fixed-bottom footer">
	<div class="fotter-continer container">
	<div id="fnb">
			<ul>
				<li><a href="index.do"><span>HOME</span></a></li>
				<li><a href="useAgreement.do"><span>이용약관</span></a></li>
				<li><a href="privacy.do"><span>개인정보보호방침</span></a></li>
				<li><a href="location.do"><span>위치</span></a></li>
				<li><a href="login.do"><span>로그인</span></a></li>
			</ul>
		</div>
	<div style="display: flex;">
		</div>
		<hr>
			<div class="info">
			<ul class="info_list">
			<li>
				<dl>
					<dt><i class="fa fa-building-o" aria-hidden="true"></i></dt>
					<dd>아나바다<br>공동대표이사 : 김범진,신범기,안준석<br>장치영,한병훈</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><i class="fa fa-file-text-o" aria-hidden="true"></i></dt>
					<dd>사업자등록번호 : 111-01-11111<br>개인정보관리책임자 : 김범진</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><i class="fa fa-map-marker" aria-hidden="true"></i></dt>
					<dd>서울 강남구 테헤란로26길 12<br>스타빌딩13층</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><i class="fa fa-phone" aria-hidden="true"></i></dt>
					<dd>TEL. 010-4152-3998 [김범진]</dd>
					<dd>TEL. 010-2951-0206 [신범기]</dd>
					<dd>TEL. 010-9169-7045 [안준석]</dd>
					<dd>TEL. 010-2313-0228 [장치영]</dd>
					<dd>TEL. 010-7151-0762 [한병훈]</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><i class="fa fa-envelope-o" aria-hidden="true"></i></dt>
					<dd>advensod@gmail.com [김범진] </dd>
					<dd>beomki7429@gmail.com [신범기]</dd>
					<dd>sws9169@gmail.com [안준석]</dd>
					<dd>clduddkwk@naver.com [장치영]</dd>
					<dd> hanbyeonghoon0762@gmail.com [한병훈]</dd>
				</dl>
			</li>
		</ul>
			</div>
		<hr>

		<p class="madeby">
			<span class="fotter-text">2021.10.7 ~ 2021.10.30</span>
		</p>
	</div>
</footer>
</div>
</html>